init_ok
tmp/
*.pyc 
nohup.out
STOP_CUTE
*.dll
*.exe
*.o
*.so
cmake-build-debug 
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.log
.DS_Store
.DS_Store?
.Trashes
*.gcda
.idea/
.vim/
.bash_history
.bash_logout
.bashrc_old
.cache/
.gitconfig
.profile
.ssh/
.sudo_as_admin_successful
/auriga_root/
/syzygy/
ramdisk/*
.python_history
.viminfo
.wget-hsts
ENABLE_DEBUG
web/__pycache__
*.iml